:root{
    /* Primary */
    --blue: hsl(246, 80%, 60%);
    --light-orange: hsl(15, 100%, 70%);
    --soft-blue: hsl(195, 74%, 62%);
    --light-red: hsl(348, 100%, 68%);
    --lime-green: hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);
    --soft-orange: hsl(43, 84%, 65%);

    /* Neutral */
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
}


*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family:'Rubik';
}

body{
    background-color: var(--very-dark-blue);
    color:#fff;
}

main>section{
    padding-block:5.0625rem;
    padding-inline:1.5rem;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    gap:1.5rem;
}

article{
    grid-column:span 12;
    border-radius:15px;
}

article:nth-of-type(1){
    background-color:var(--dark-blue);
}

article:nth-of-type(1) section:first-of-type{
    background-color:var(--blue);
    border-radius:15px;
    padding-block:2.15625rem;
    padding-inline-start:2rem;
    padding-inline-end:2.56rem;
    display:flex;
    align-items:center;
    gap:1.1rem;
}

article:nth-of-type(1) img{
    border:3px solid #fff;
    border-radius:50%;
    width:4rem;
}

p, span{
    font-size:0.9375rem;
    font-weight:300;
    color:var(--pale-blue);
}

h1{
    font-size:1.5rem;
    font-weight:300;
}

article:nth-of-type(1) section:last-of-type{
    padding-block:1.53125rem;
    display:flex;
}

a{
    font-size:1.125rem;
    color:var(--desaturated-blue);
    font-weight:400;
    flex:1;
    text-align:center;
    cursor:pointer;
}

a:hover{
    color:#fff;
}


article:nth-of-type(2){
    background-color:var(--light-orange);
    background-image:url('./images/icon-work.svg');
}

article:nth-of-type(3){
    background-color:var(--soft-blue);
    background-image:url('./images/icon-play.svg');
}

article:nth-of-type(4){
    background-color:var(--light-red);
    background-image:url('./images/icon-study.svg');
}

article:nth-of-type(5){
    background-color:var(--lime-green);
    background-image:url('./images/icon-exercise.svg');
}

article:nth-of-type(6){
    background-color:var(--violet);
    background-image:url('./images/icon-social.svg');
}

article:nth-of-type(7){
    background-color:var(--soft-orange);
    background-image:url('./images/icon-self-care.svg');
}

article:not(:first-of-type){
    background-repeat:no-repeat;
    background-position-x:calc(100% - 1.08rem);
    background-position-y:-0.68rem;
}

article:nth-of-type(5){
    background-position-x:calc(100% - 1.1rem);
    background-position-y:0rem;
}

article:not(:first-of-type) section{
    background-color:var(--dark-blue);
    border-radius:15px;
    margin-top:2.375rem;
    padding-block:1.75rem;
    padding-inline:1.5rem;
}

article:not(:first-of-type) section:hover{
    background-color:#33397A;
}

article:not(:first-of-type) section div{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

article:not(:first-of-type) section div:last-of-type{
    margin-block-start:0.3rem;
}

strong{
    font-size:1.125rem;
    font-weight:400;
}

svg{
   cursor:pointer;
}

svg path:hover{
    fill:#fff!important;
}

h2{
    font-size:2rem;
    font-weight:300;
}

.active{
    color:#fff !important;
}

@media screen and (min-width: 1024px) {
    main{
        height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    main>section{
        padding-block:0;
        padding-inline:1rem;
        gap:1.8rem;
    }

    article{
        grid-column:span 3;
    }

    article:first-of-type{
        grid-row:span 2;
    }

    article:nth-of-type(1) section:first-of-type{
        padding:2.31rem 5.25rem 5rem 2rem;
        flex-direction:column;
        align-items:start;
        gap:2.6875rem;
    }
    
    article:nth-of-type(1) img{
        width:4.875rem;
    }
    
    h1{
        font-size:2.5rem;
    }
    
    article:nth-of-type(1) section:last-of-type{
        padding-block-start:1.625rem;
        padding-block-end:2rem;
        padding-inline-start:2rem;
        flex-direction:column;
        gap:1.3125rem;
    }
    
    a{
        text-align:left;
    }
    
    article:not(:first-of-type) section{
        margin-top:2.8125rem;
        padding:1.8125rem 2.1875rem 2rem 1.875rem;
    }
    
    article:not(:first-of-type) section div:last-of-type{
        margin-block-start:1.5625rem;
        flex-direction:column;
        justify-content:flex-start;
        align-items:flex-start;
        gap:0.5rem;
    }
    
    h2{
        font-size:3.5rem;
    }

  }

@media screen and (min-width:1200px){
    main>section{
        padding-inline:3rem;
        gap:1.875rem;
    }
}

@media screen and (min-width:1440px){
    main>section{
        padding-inline:10.31rem;
        gap:1.875rem;
    }
}